body{
background-color: blueviolet;
color: red;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin:0px;
}
h1{
color: azure;
font-size:
}
p{
font-size: ;
}
header{
    border-bottom: crimson;
margin: 2px; ;
padding: 10px;
color: blue;
.chamada{
    background: coral
    padding: 80px;
    display:flgx;
    justify-content:center;
}
.chamada-texto{
margin-right:8%;
}
img{
    height:200px;
}